[submodule "searx"]
	path = searx
	url = https://github.com/searx/searx.git
[submodule "server/searxng-docker"]
	path = server/searxng-docker
	url = https://github.com/searxng/searxng-docker
[submodule "searxng-docker"]
	path = searxng-docker
	url = https://github.com/noahshinn/searxng-docker
